.header {
    width: 800px;
    height: 80px;
    text-align: center;
    background-color: #BDBDBD;
}
.footer {
    text-align: center;
    background-color: #BDBDBD;
}
.leftMenu {
    width: 150px;
    height: 500px;
    background-color: #d8d8d8;
}
.mainContent {
    width: 650px;
    height: 500px;
    background-color: #e6e6e6;
}
a{
    display: block;
    padding: 5px;
}